doctype html
html
    head
        title abc
    body
        block content
        h1 #{title}
        ul
            each usertable, i in usertables
                li= usertable.username
            
